<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.60.1" targetFramework="net461" />
  <package id="ExcelDataReader" version="3.5.0" targetFramework="net461" />
  <package id="ExcelDataReader.DataSet" version="3.5.0" targetFramework="net461" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.900.148" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net461" />
  <package id="NUnit" version="3.11.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.13.0" targetFramework="net461" />
  <package id="ReportUnit" version="1.2.1" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="74.0.0" targetFramework="net461" />
  <package id="Selenium.Firefox.WebDriver" version="0.23.0" targetFramework="net461" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.IEDriver" version="3.141.5" targetFramework="net461" />
  <package id="Selenium.WebDriver.Server" version="3.0.1.1" targetFramework="net461" />
  <package id="selenium-server-standalone" version="3.9.1.1" targetFramework="net461" />
  <package id="TestLinkFixture" version="1.0.0.0" targetFramework="net461" />
  <package id="TlNUnitAddOn" version="1.0.0.0" targetFramework="net461" />
  <package id="XmlRpcLight" version="1.0.0.0" targetFramework="net461" />
  <package id="xmlrpcnet" version="3.0.0.266" targetFramework="net461" />
</packages>